<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>かめなしくん</title>
    <style>
        h2{
            font-size: 16px;
            margin: 0;
        }
        img{
            display: block;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <h2>{{ label }} を動体検知しました。</h2>
    {%- for image in image_list %}
    <img src="cid:detected_image_{{ loop.index }}">
    {%- endfor %}
</body>
</html>